<li>
	{{burger_name}}
	{{#if devou}}<button class="change-eat" data-id="{{id}}" data-newdevoured="{{devou}}">EAT!</button>
	{{else}}<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
	{{/if}}
</li>